head {
    display: flex;
}

header {
    display: inline;
}
.score-page {
    display: none;
}

.score-page {
    display: none;
    visibility: hidden;
    
}

h3 {
    display: inline;
}


.timer {
    display: inline;

   
}

